<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>
    <div>
        <h1> This is Home </h1>
    </div>

    <!-- formato de las publicaciones copiado de forocoches xd-->
    <table>
        <tr>
            <th>Fecha de subida</th>
            <th>Tema</th>
        </tr>
        {{post_list}}
        {% for p in posts %}
        {% comment %} <tr>
            <td>10/10/2010</td>
            <td><a href="/publicaciones?id=1">Como hago para ser tiktok</a></td>
        </tr> {% endcomment %}
        <tr bgcolor="{% cycle 'Silver' 'White' %}">
            <td>p.fecha</td>
            <td><a href="/publicaciones?id={{p.id}}">{{p.titulo}}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>